{% extends "base/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}


{% if request.user.is_authenticated %}
<script>
    window.location.href = '{% url "accounts:profile" %}';
</script>
{% endif %}


<div class="container-fluid">
    <div class="row no-gutter">
        <div class="col-md-6 bg-light">
            <div class="login d-flex align-items-center py-5">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-md-12 mx-auto">
                            <form class="account-form p-4 rounded" action="{% url 'account_login' %}" method="post">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-8 mt-3 offset-md-2 text-center">
                                            <h3>{% trans "Sign In" %}</h3>
                                            <p>
                                              Welcome back to Seasonality. To leave comments, submit recipes or save posts, please log in.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-8 mt-3 offset-md-2">
                                                {% csrf_token %}
                                                {{ form.as_p }}
                                                {% if redirect_field_value %}
                                                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                                                {% endif %}  
                                        </div>
                                        <div class="text-center">
                                            <button class="btn btn-signin btn-lg" type="submit">{% trans "Sign In" %}</button>
                                            <p class="small font-weight-bold pt-3">
                                                <a href="{% url 'account_signup' %}">New to Seasonality? Create an account</a>
                                            </p>
                                            <hr class="mb-3">
                                            <p class="small text-center">
                                                By clicking on register, I agree to Seasonality's 
                                                <a class="guidelines" type="button" data-toggle="modal" data-target="#seasonalityModal">Community Guidelines</a> and understand that my account can be terminated at any time.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <p class="small text-center">
                                <a href="{% url 'account_signup' %}">Register Account</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 d-none d-md-flex bg-image"></div>
    </div>
</div>

{% endblock %}
