{% extends "base/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
{% if request.user.is_authenticated %}
<script>
    window.location.href = '{% url "accounts:profile" %}';
</script>
{% endif %}

<style>
    .login,
    .image {
        min-height: 100vh;
    }

    .bg-image {
        background-image: url('https://picsum.photos/id/433/1080');
        background-size: cover;
        background-position: center center;
    }

    .container-fluid {
        max-width: 100%;
    }

    body {
        margin-bottom: 0px;
    }

    .account-form input:focus {
        border-color: #1497ff;
        box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.075), 0 0 0px rgba(255, 0, 0, 0.6);
    }
</style>


<div class="container-fluid">
    <div class="row no-gutter">
        <div class="col-md-6 bg-light">
            <div class="login d-flex align-items-center py-5">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-md-12 mx-auto">

                            <form class="account-form p-4 rounded col-lg-10 mx-auto" action="{% url 'account_signup' %}"
                                method="post">
                                {% csrf_token %}
                                <div class="text-center">
                                    <p class="h4 mb-2 font-weight-bold text-center">Create an account</p>
                                    <p class="mb-4 text-center">It's free and only takes a minute. Sign up to comments, submit recipes or save posts.</p>
                                </div>
                                <div class="col-md-8 mt-3 offset-md-2">
                                    {% csrf_token %}
                                    {{ form.as_p }}
                                    {% if redirect_field_value %}
                                    <input type="hidden" name="{{ redirect_field_name }}"
                                        value="{{ redirect_field_value }}" />
                                    {% endif %}
                                    <div class="text-center">
                                        <button class="btn btn-dark btn-block font-weight-bold"
                                            type="submit">{% trans "Register" %}
                                        </button>
                                        <p class="small font-weight-bold pt-3">
                                            <a href="{{ login_url }}">Already have an account?</a>
                                        </p>
                                    </div>
                                </div>
                                <hr class="mb-3">
                                <p class="small text-center">
                                    By clicking on register, you agree to our 
                                    <a href="">Terms of Service</a> 
                                    and consent to our <a href="">Cookie Policy</a> and <a href="">Privacy Policy</a>.
                                </p>
                            </form>
                            <p class="small text-center">
                                <a href="{% url 'account_signup' %}">Help Center?</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 d-none d-md-flex bg-image"></div>
    </div>
</div>

{% endblock %}
