{% load static %}

<!DOCTYPE html>
<html class="h-100">

<head>
    <title>Seasonality</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;1,400;1,500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;1,300&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/9096438b6b.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous">
    </script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body class="d-flex flex-column h-100 main-bg">
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light bg-white">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'home' %}"><span class="brand">Seasonality</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 text-center">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
                    </li>
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account_logout' %}">Logout</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Profile 
                            <i class="fa-solid fa-caret-down"></i>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{% url 'profile' %}">Profile Page</a>
                            <a class="dropdown-item" href="{% url 'favourites' %}">Favourites</a>
                            <a  class="dropdown-item" type="button"data-toggle="modal" data-target="#seasonalityModal">Community Guidelines</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'add_recipe' %}">Add A Recipe</a>
                          </div>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account_signup' %}">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account_login' %}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a type="button" class="nav-link" data-toggle="modal" data-target="#seasonalityModal">
                            Community Guidelines
                        </a>
                    </li>
                    {% endif %}
                </ul>
                <div class="box">
                    <form method="GET" action="{% url 'search_results' %}">
                        <input type="text" class="input-search" name="searched" value="{{ request.GET.searched }}"
                            placeholder="Type to Search..." onmouseout="this.value = ''; this.blur();">
                        <button class="btn" type="submit" name="action"><i class="fa-solid fa-magnifying-glass"></i></button>
                    </form>
                </div>  
            </div>
        </div>
    </nav>

    <!-- Block Content Holder -->
    <main class="flex-shrink-0"> 
        {% block content %}
        <!-- Content Goes here -->
        {% endblock content %}
    </main>


    <!-- Guideline Modal -->
    <div class="modal fade" id="seasonalityModal" tabindex="-1" role="dialog" aria-labelledby="seasonalityModalTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Seasonality's Community Guidelines</h5>
                </div>
                <div class="modal-body">
                    <ul>
                        <li><em>We don't allow defamatory, indecent, offensive, profane, discriminatory, misleading,
                                unlawful or
                                threatening comments.&nbsp;</em></li>
                        <li><em>Personal attacks, name-calling, trolling and abuse will not be tolerated.</em></li>
                        <li><em>Spamming, posting promotional material or posting links to third party websites is not
                                permitted.</em></li>
                        <li><em>We reserve the right to delete comments and recipes at our discretion and block any
                                repeat offenders. We will
                                remove content that is fraudulent, deceptive or misleading.</em></li>
                        <li><em>Coordinated group attacks will not be tolerated.&nbsp;</em></li>
                        <li><em>Respect that other people in the community have had different life experiences and may
                                have a
                                different perspective to yours. We welcome different viewpoints.</em></li>
                        <li><em>Our community is a public place. Don't post personal information that you would not be
                                comfortable
                                sharing with a stranger. We recommend that you don't post any information that may
                                identify you or
                                anyone else, such as your address, email address or phone number.</em></li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer class="footer mt-auto py-3 opacity-25">
        <p class="m-0 text-center ttext-black">
            <i class="fab fa-facebook-square ms-3"></i>
            <i class="fab fa-twitter-square ms-3"></i>
            <i class="fab fa-instagram-square ms-3"></i>
            <i class="fab fa-youtube-square ms-3"></i>
        </p>
    </footer>
    

    <!-- JavaScript jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>
    <script type="text/javascript" src="{% static 'js/app.js' %}"></script>

</body>

</html>