/*Home*/

/* 
COLORS:
#fffff -- White 
#DEE2E6 --Platinum
#343A40 --  Onyx
#212529 -- Eerie black
#F1CACC -- Tea rose
#F1AAAD -- Cherry blossom
#DF8A70 -- Burnt sienna
#E8AC33 --Hunyadi Yellow
#5A6950 -- Ebony
#25392D -- Dark green


FONTS:
font-family: 'Montserrat', sans-serif;
font-family: 'Playfair Display', serif; 
*/

body {
    background-color: #F9FAFC;
    overflow-x: hidden;
}

.main-bg {
    background-image: url('https://res.cloudinary.com/dnyfx3g7s/image/upload/v1694383930/background_seasonality.svg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

a, p, ul, li {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.4rem;
    color: #212529;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair Display', serif; 
    color: #4A4A4F;
}

.page-item li {
    list-style: none;
}

.brand {
    font-family: 'Playfair Display', serif; 
    font-size: 1.4rem;
    font-weight: 700;
    color: #4A4A4F;
}

.red-o {
    color: #E84610;
}

.thin {
    font-weight: 300;
}

.light-bg {
    background-color: #fff;
}

.dark-bg {
    background-color: #445261;
}
.card {
    border: none;
    background-color: transparent;
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    background-color: #445261;
    color: white;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #445261;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}

.recipe-link {
    text-decoration: none;
    color: #445261;
}

.recipe-link:hover,
.page-link {
    color: #E84610;
}

.recipe-title {
    margin-top: 20%;
    margin-left: 5%;
}

.recipe-subtitle {
    margin-left: 5%;
    color: lightgray;
}

.btn-signup {
    background-color: #23BBBB;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #23BBBB;
}

.link {
    color: #23BBBB;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}

.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: #E84610;
    background: transparent;
    border: none;
}

.profile-extras {
    margin-top: 50px;
}

.errorlist {
    list-style: none;
}

/* Register and Login CSS */
.bg-image {
    background-image: url('https://res.cloudinary.com/dnyfx3g7s/image/upload/v1694361977/pexels-skylar-kang-6045219_mxpsyu.jpg');
    background-size: cover;
    background-position: center center;
}

.container-fluid {
    max-width: 100%;
}

.account-form input:focus {
    border-color: #1497ff;
    box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.075), 0 0 0px rgba(255, 0, 0, 0.6);
}

.login,
.image {
    min-height: 100vh;
}

body {
    margin-bottom: 0px;
}

/*Recipe Detail*/

.rating-list i,
.rating-list i:hover~i {
    color: #222;
    text-shadow: none;
    transition: color 200ms,
        text-shadow 200ms;
    transition-delay: 0;
}

.rating-list:hover i {
    color: #fc0;
    text-shadow: #fc0 0 0 20px;
}

.rating-list:hover i:nth-child(2) {
    transition-delay: 30ms;
}

.rating-list:hover i:nth-child(3) {
    transition-delay: 60ms;
}

.rating-list:hover i:nth-child(4) {
    transition-delay: 90ms;
}

.rating-list:hover i:nth-child(5) {
    transition-delay: 120ms;
}

.checked {
    color: orange;
}