/*Home*/

/* 
COLORS:
#fffff -- White 
#DEE2E6 --Platinum
#343A40 --  Onyx
#212529 -- Eerie black
#F1CACC -- Tea rose
#DF8A70 -- Burnt sienna
#E8AC33 --Hunyadi Yellow
#5A6950 -- Ebony
#25392D -- Dark green


FONTS:
font-family: 'Montserrat', sans-serif;
font-family: 'Playfair Display', serif; 
*/

body {
    background-color: #F9FAFC;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
}

.main-bg {
    background-image: url('https://res.cloudinary.com/dnyfx3g7s/image/upload/v1694383930/background_seasonality.svg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

p, ul, li {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.4rem;
    color: #212529;
}

a {
    font-family: 'Montserrat', sans-serif;
    color: #212529;
}

a:hover {
    color: #E8AC33;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair Display', serif; 
    color: #4A4A4F;
}

.page-item li {
    list-style: none;
}

.brand {
    font-family: 'Playfair Display', serif; 
    font-size: 1.4rem;
    font-weight: 700;
    color: #4A4A4F;
}

.red-o {
    color: #E84610;
}

.thin {
    font-weight: 300;
}

.light-bg {
    background-color: #fff;
}

.dark-bg {
    background-color: #445261;
}

.card {
    border: none;
    background-color: transparent;
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    background-color: #445261;
    color: white;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #445261;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}

.recipe-link {
    text-decoration: none;
    color: #445261;
}

.recipe-link:hover,
.page-link {
    color: #E84610;
}

.recipe-title {
    margin-top: 20%;
    margin-left: 5%;
}

.recipe-subtitle {
    margin-left: 5%;
    color: lightgray;
}

.link {
    color: #23BBBB;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}

.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: #E84610;
    background: transparent;
    border: none;
}

.profile-extras {
    margin-top: 50px;
}

.errorlist {
    list-style: none;
}

/* Card Styling inspired by https://codepen.io/wisnust10/pen/BKjNNR*/
.fa-caret-down:hover {
    color: #E8AC33;
}

#navbarDropdown:hover {
    color: #E8AC33;
}

.diet-background {
    background-color: #90b77d;
    border-radius: 12px;
}

.recent-background {
    background-color: #E8AC33;
    border-radius: 12px;
}

.recent-background h1, h2{
    color: #fff8f9;
}
 
.card {
    display: block;
    padding-bottom: 12px;
    background-color: #fff8f9;
    border-radius: 12px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    transition: box-shadow .25s;
}

.card:hover {
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.img-card {
    width: 100%;
}

.carousel-control-next, .carousel-control-prev {
    opacity: 1;
    top: 10em;
    bottom: 165px;
    text-decoration: none;
    font-size: 40px;
    height: 20px;
    padding-left: 30px;
    color: #5A6950;
}

.carousel-control-next:hover, .carousel-control-prev:hover {
    color: #dba230;
}

.author {
    margin: 5px 0 -6px 0;
    font-size: 1.2rem
}

.card-text {
    font-size: 1.2rem
}

.card-hr {
    border: 1.5px solid #5a6950;
    opacity: .8;
}

.card-title {
    margin-top: 0px;
    font-weight: 600;
    font-size: 1.65em;
}

/*Search Styling inspired by https://freefrontend.com/css-search-boxes/#gsc.tab=0*/
.box{
    position: relative;
}

.input-search {
    padding: 10px;
    width: 55px;
    height: 55px;
    background: none;
    border: 3px solid #DF8A70;
    border-radius: 50px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-size: 26px;
    color: #DF8A70;
    outline: none;
    transition: .5s;
}

.box:hover input{
    width: 350px;
    background: none;
    border-radius: 12px;
    color: black;
}

.input-search:hover::placeholder{
    color: black;
}

.input-search::placeholder{
    color: white;
}

.box i{
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translate(-50%,-50%);
    font-size: 26px;
    color: #DF8A70;
    transition: .2s;
}

.box:hover i{
    opacity: 0;
    z-index: -1;
}

/* Register and Login CSS */
.bg-image {
    background-image: url('https://res.cloudinary.com/dnyfx3g7s/image/upload/v1694361977/pexels-skylar-kang-6045219_mxpsyu.jpg');
    background-size: cover;
    background-position: center center;
}

.container-fluid {
    max-width: 100%;
}

.account-form input:focus {
    border-color: #E8AC33;
    box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.075), 0 0 0px rgba(255, 0, 0, 0.6);
}

.login,
.image {
    min-height: 100vh;
}

.guidelines {
    text-decoration: underline;
}

.guidelines:hover {
    text-decoration: underline;
}

.btn-signin:hover {
    border-color: #DF8A70;
    color: #DF8A70;
    background-color: #fff8f9;
}

.btn-signin {
    border-color: #DF8A70;
    background-color: #DF8A70;
    color: #fff8f9;
}

.btn-signin:focus, .btn-signout:active {
    outline: none !important;
    box-shadow: none;
}

.signup-form label {
    font-size: .9em;
}

.signup-form input {
    font-size: .9em;
    line-height: 30px;
}

/* Sign Out CSS */
.sign-out {
    margin-top: 10%;
    background-color: #fff8f9;
    height: 70%;
    width: 35%;
    border-radius: 12px;
}

.btn-signout {
    border-color: #DF8A70;
    color: #DF8A70;
}

.btn-signout:hover {
    border-color: #DF8A70;
    background-color: #DF8A70;
    color: #fff8f9;
}

.btn-signout:focus, .btn-signout:active {
    outline: none !important;
    box-shadow: none;
}

/*Profile*/

.alert-success {
    width: 50%;
}

.jumbotron {
    background: #fff8f9;
    border-radius: 12px;
    margin-top: 28px;
}

.btn-remove {
    border-color: #25392D;
    background-color: #25392D;
    color: #fff8f9;
}

.btn-remove:hover {
    border-color: #25392D;
    background-color: #fff8f9;
    color: #25392D;
}

.btn-remove:focus, .btn-remove:active {
    outline: none !important;
    box-shadow: none;
}

.fav-card{
    text-decoration: none;
}

.profile-form {
    background: #fff8f9;
    border-radius: 12px;
    padding: 15px;
}

.profile-table tr:nth-child(even){
    background-color: #fff8f9;
}

.profile-table tr:nth-child(odd){
    background-color: #fff8fc;
}

.profile-table tr a{
    text-decoration: none;
}

.btn-profile:hover {
    border-color: #5A6950;
    color: #5A6950;
    background-color: #fff8f9;
}

.btn-profile {
    border-color: #5A6950;
    background-color: #5A6950;
    color: #fff8f9;
}

.btn-profile:focus, .btn-profile:active {
    outline: none !important;
    box-shadow: none;
}

/*Search*/
.search-pagination li {
    font-size: 2rem;
}

.search-pagination .disabled {
    color: grey;
}

.search-pagination .active {
    color: #E8AC33;
}

/*Favourites*/


/*Recipe Detail and Forms*/
.recipe-ratings i {
    font-size: 22px;
}

.rating-list i,
.rating-list i:hover~i {
    color: #212529;
    text-shadow: none;
    transition: color 200ms, text-shadow 200ms;
    transition-delay: 0;
}

.rating-list:hover i {
    color: #E8AC33;
    text-shadow: #E8AC33 0 0 20px;
}

.rating-list:hover i:nth-child(2) {
    transition-delay: 30ms;
}

.rating-list:hover i:nth-child(3) {
    transition-delay: 60ms;
}

.rating-list:hover i:nth-child(4) {
    transition-delay: 90ms;
}

.rating-list:hover i:nth-child(5) {
    transition-delay: 120ms;
}

.checked {
    color: #E8AC33 !important;
}

.recipe-title, .recipe-subtitle {
    color: #fff8f9;
}

.comments {
    padding: 10px;
    background: #fff8f9;
    border-radius: 10px;
}

.comments-title {
    padding: 10px;
}

.commenting {
    background: #fff8f9;
    border-radius: 10px;
    margin-bottom: 235px;
}

.nutrition-list ul{
    list-style-type: none;
    margin: 0 0 0 113px;
    padding: 0;
    overflow: hidden;
}

.nutrition-list li{
    float: left;
    display: inline;
    padding: 16px; 
    text-transform: uppercase;
}
  
.nutrition-list ul li {
    text-decoration: none;
    padding: 0.2em 1.1em;
    border-right: 1px solid #212529;
    margin: 0 0 0 -6px;
}

.nutrition-list ul li:last-child {
    border: none;
}

.recipe-form label {
    display: block;
    margin-top: 15px;
    font-size: 18px;
}

.recipe-form input {
    display: inline-block;
    font-size: 18px;
}

#id_featured_image {
    margin: 15px 0 0 50px;
}

.form-container {
    min-height: 100vh;
    display: flex;
    align-items: center;
}
  
.recipe-form{
    width: 50%;
    margin: 0 auto;
    background: #fff8f9;
    border-radius: 12px;
}