{% extends "base/base.html" %}
{% block title %}Profile{% endblock %}
{% block content %}

<div class="container-fluid">
    <div class="row no-gutter">
        <div class="col-md-6 bg-light">
            <div class="login d-flex align-items-center py-5">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-md-12  mx-auto">
                            {% if user_form.errors %}
                            <div class="alert alert-danger alert-dismissible" role="alert">
                                <div id="form_errors">
                                    {% for key, value in user_form.errors.items %}
                                    <strong>{{ value }}</strong>
                                    {% endfor %}
                                </div>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            {% endif %}
                            <div class="form-content">
                                <form method="post" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <div class="form-row">
                                        <div class="col-md-5">
                                            <div class="form-group">
                                                <label class="small mb-1">Username:</label>
                                                {{ user_form.username }}
                                                <label class="small mb-1">Email:</label>
                                                {{ user_form.email }}
                                            </div>
                                            <div class="form-group">
                                                <a href="#">Change Password</a>
                                                <hr>
                                            </div>
                                            <label class="small mb-1">Bio:</label> {{ profile_form.bio }}
                                        </div>
                                    </div>
                                    <br><br>
                                    <button type="submit" class="btn btn-dark btn-lg">Save Changes</button>
                                    <button type="reset" class="btn btn-dark btn-lg">Reset</button>
                                    {% if saved %}
                                        <div class="alert alert-success" role="alert">
                                            You have edited your profile
                                        </div>
                                    {% endif %}
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 d-none d-md-flex">
            <div class="row">
                <div class="text-center">
                    <h3 class="profile-extras">My Comments:</h3>
                    <div class="ml-auto pt-1">{% with comments.count as total_comments %}
                        <strong class="text-secondary">
                            {{ total_comments }}
                        </strong>
                        {% endwith %}
                    </div>
                    <hr class="mb-3">
                </div>
                <div class="text-center">
                    <h3 class="profile-extras">My Favourites:</h3>
                    <hr class="mb-3">
                    <a aria-current="page" href="{% url 'favourites' %}">Favourites</a>
                    {% for recipe in recipe_list %}
                    <div class="col-md-3">
                        <div class="card md-3">
                            <div class="card-body">
                                {% if "placeholder" in recipe.featured_image.url %}
                                <img class="card-img-top"
                                    src="https://res.cloudinary.com/dnyfx3g7s/image/upload/v1693603229/static/media/brooke-lark-08bOYnH_r_E-unsplash_huryvz.jpg"
                                    alt="bowl of berries next to rubarb and flowers">
                                {% else %}
                                <img class="card-img-top" src="{{ recipe.featured_image.url }}">
                                {% endif %}
                                <div class="image-flash">
                                    <p class="author">Author: {{ recipe.author }}</p>
                                </div>
                            </div>
                            <a href="{% url 'recipe_detail' recipe.slug  %}" class="recipe-link">
                                <h3 class="card-title">{{ recipe.title }}</h3>
                            </a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}