{% extends "base/base.html" %}
{% block head_title %}Add Recipe{% endblock %}

{% block content %}

<!-- Jumbotron for top of page: IF submitted -->
<div class="container">
    {% if submitted %}
    <section class="jumbotron text-center">
        <div class="container">
            <h1>Your Recipe was Submitted!</h1>
            <p class="lead text-muted">While you wait for our team to publish your recipe, why not go ahead and search
                our database!</p>
        </div>
    </section>
    {% else %}
<!-- Jumbotron for top of page: if not yet submitted -->
    <section class="jumbotron text-center">
        <div class="container">
            <h1>Add My Recipes</h1>
            <p class="lead">Please make sure you are adding in a title to your recipe, it's ingredients, the
                content of your recipe and also it's Nutritional Values.
                Any recipe without these elements will not get published to the site.</p>
        </div>
    </section>
</div>
<!-- Recipe Form -->
<div class="form-container text-center">
    <form action="" method="POST" class="recipe-form form-group">
        {% csrf_token %}

        {{ form.as_table | safe }}
        <div>
            <button type="submit" value="Update" class="btn btn-signin m-4">Submit</button>
        </div>
    </form>
</div>
{% endif %}
<script>
    // JavaScript code to generate the slug based on the title
    document.getElementById("id_title").addEventListener("input", function () {
        const title = this.value;
        const slugInput = document.getElementById("id_slug");
        const slug = title.toLowerCase().replace(/ /g, "-");
        slugInput.value = slug;
    });
</script>
    
{% endblock %} 