{% extends "base/base.html" %}
{% block content %}
{% load crispy_forms_tags %}

<div class="masthead">
    <div class="container">
        <div class="row g-0">
            <div class="col-md-6 masthead-text">
                <!-- recipe title goes in these h1 tags -->
                <h1 class="recipe-title">{{ recipe.title }}</h1>
                <!-- recipe author goes before the | the recipe's created date goes after -->
                <p class="recipe-subtitle">{{ recipe.author }} | {{ recipe.created_on }}</p>
            </div>
            <div class="d-none d-md-block col-md-6 masthead-image">
                <!-- The featured image URL goes in the src attribute -->
                {% if "placeholder" in recipe.featured_image.url %}
                <img class="card-img-top"
                    src="https://res.cloudinary.com/dnyfx3g7s/image/upload/v1693603229/static/media/brooke-lark-08bOYnH_r_E-unsplash_huryvz.jpg"
                    alt="bowl of berries next to rubarb and flowers">
                {% else %}
                <img class="card-img-top" src="{{ recipe.featured_image.url }}">
                {% endif %}
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="d-flex">
            <div class="pt-2">
                {% with comments.count as total_comments %}
                <strong class="text-secondary"><i class="far fa-comments"></i>
                    {{ total_comments }}
                </strong>
                {% endwith %}
            </div>
            <div class="ml-auto pt-1">
                <a href="{% url 'favourite_add' recipe.id %}" class="btn"><i class="far fa-bookmark"></i></a>
                <strong class="text-secondary">
                </strong>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col card mb-4  mt-3 left top">
            <h3>{{ recipe.title }}</h3>
            <div class="card-body">
                <ul>
                    <li>Calories: {{ recipe.calories }}cal</li>
                    <li>Protein: {{ recipe.protein }}g</li>
                    <li>Fats: {{ recipe.fat }}g</li>
                    <li>Carbs: {{ recipe.carbs }}g</li>
                    <li>Servings: {{ recipe.servs }}</li>
                </ul>
                <p class="card-text ">
                    {{ recipe.ingredients | safe }}
                </p>
                <p class="card-text ">
                    {{ recipe.content | safe }}
                </p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <hr>
    </div>
</div>
<div class="row">
    <div class="col-md-8 card mb-4  mt-3 ">
        <h3>Comments:</h3>
        <div class="card-body">
            {% for comment in comments %}
            <div class="comments" style="padding: 10px;">
                <p class="font-weight-bold">
                    {{ comment.name }}
                    <span class=" text-muted font-weight-normal">
                        {{ comment.created_on }}
                    </span> wrote:
                </p>
                {{ comment.body | linebreaks }}
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="col-md-4 card mb-4  mt-3 ">
        <div class="card-body">
            <!-- For later -->
            {% if commented %}
            <div class="alert alert-success" role="alert">
                Your comment has been posted
            </div>
            {% else %}
            {% if user.is_authenticated %}

            <h3>Leave a comment:</h3>
            <p>Posting as: {{ user.username }}</p>
            <form method="post" style="margin-top: 1.3em;">
                {{ comment_form | crispy }}
                {% csrf_token %}
                <button type="submit" class="btn btn-signup btn-lg">Submit</button>
            </form>
            {% endif %}
            {% endif %}
        </div>
    </div>
</div>
</div>

{% endblock content %}