{% extends "base/base.html" %}
{% block content %}
{% load crispy_forms_tags %}

<div class="masthead">
    <div class="container">
        <div class="row g-0">
            <div class="col-md-6 masthead-text">
                <h1 class="recipe-title">{{ recipe.title }}</h1>
                <p class="recipe-subtitle">{{ recipe.author }} | {{ recipe.created_on }}</p>
            </div>
            <div class="d-none d-md-block col-md-6 masthead-image">
                {% if "placeholder" in recipe.featured_image.url %}
                <img class="card-img-top"
                    src="https://res.cloudinary.com/dnyfx3g7s/image/upload/v1693603229/static/media/brooke-lark-08bOYnH_r_E-unsplash_huryvz.jpg"
                    alt="bowl of berries next to rubarb and flowers">
                {% else %}
                <img class="card-img-top" src="{{ recipe.featured_image.url }}">
                {% endif %}
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="d-flex">
            <div class="pt-2">
                {% with comments.count as total_comments %}
                <strong class="text-secondary"><i class="far fa-comments"></i>
                    {{ total_comments }}
                </strong>
                {% endwith %}
            </div>
            <div class="ml-auto pt-1">
                {% if user.is_authenticated %}
                {% if fav %}
                <a href="{% url 'favourite_add' recipe.id %}" class="btn"><i class="fa-solid fa-bookmark"></i></a>
                <strong class="text-secondary">
                </strong>
                {% else %}
                <a href="{% url 'favourite_add' recipe.id %}" class="btn"><i class="far fa-bookmark"></i></a>
                <strong class="text-secondary">
                </strong>
                {% endif %}
                {% else %}
                <a href="{% url 'account_signup' %}" class="btn"><i class="far fa-bookmark"></i></a>
                {% endif %}
            </div>
            <div class="container" style="padding: 2em">
                <div class="card" style="width: 30rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{ recipe.title }}</h5>
                        <h5 class="card-title">
                            <span class="fa fa-star {% if recipe.average_rating > 0 %} checked {% endif %}"></span>
                            <span class="fa fa-star {% if recipe.average_rating > 1 %} checked {% endif %}"></span>
                            <span class="fa fa-star {% if recipe.average_rating > 2 %} checked {% endif %}"></span>
                            <span class="fa fa-star {% if recipe.average_rating > 3 %} checked {% endif %}"></span>
                            <span class="fa fa-star {% if recipe.average_rating > 4 %} checked {% endif %}"></span>
                        </h5>
                    </div>
                    {% if user.is_authenticated %}
                        <span class="rating-list">
                            <i onclick="rate(1, {{ recipe.id }})"
                                class="fa fa-star {% if userRating >= 1 %}checked{% endif %}"></i>
                            <i onclick="rate(2, {{ recipe.id }})"
                                class="fa fa-star {% if userRating >= 2 %}checked{% endif %}"></i>
                            <i onclick="rate(3, {{ recipe.id }})"
                                class="fa fa-star {% if userRating >= 3 %}checked{% endif %}"></i>
                            <i onclick="rate(4, {{ recipe.id }})"
                                class="fa fa-star {% if userRating >= 4 %}checked{% endif %}"></i>
                            <i onclick="rate(5, {{ recipe.id }})"
                                class="fa fa-star {% if userRating >= 5 %}checked{% endif %}"></i>
                        </span>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col card mb-4  mt-3 left top">
            <h3>{{ recipe.title }}</h3>
            <div class="card-body">
                <ul>
                    <li>Calories: {{ recipe.calories }}cal</li>
                    <li>Protein: {{ recipe.protein }}g</li>
                    <li>Fats: {{ recipe.fat }}g</li>
                    <li>Carbs: {{ recipe.carbs }}g</li>
                    <li>Servings: {{ recipe.servs }}</li>
                </ul>
                <p class="card-text ">
                    {{ recipe.ingredients | safe }}
                </p>
                <p class="card-text ">
                    {{ recipe.content | safe }}
                </p>
            </div>
        </div>
    </div>
</div>

{% if user.is_authenticated %}
    {% if recipe.author.id is user.id %}
        <a href="{% url 'update_recipe' recipe.id %}">UPDATE</a>

        <a type="button" class="btn delete-comment-btn" data-toggle="modal" data-target="#deleteCommentModal" data-comment-pk="{{ comment.pk }}">Delete</a>


        <form>
            <a href="#" class="btn" role="button"><i class="fa-solid fa-trash-can"></i></a>
        </form>
        <div class="row">
            <div class="col">
                <hr>
            </div>
        </div>
    {% endif %}
{% endif %}

<div class="row">
    <div class="col-md-8 card mb-4 mt-3">
        <h3>Comments:</h3>
        <div class="card-body">
            {% for comment in comments %}
            <div class="comments" style="padding: 10px;">
                <p class="font-weight-bold">
                    {{ comment.name }}
                    <span class=" text-muted font-weight-normal">
                        {{ comment.created_on }}
                    </span> wrote:
                    {% if user.is_authenticated %}
                        {% if comment.name.id is user.id %}
                            <a type="button" class="btn" data-toggle="modal" data-target="#deleteCommentModal">
                            Delete</a>
                        {% endif %}
                    {% endif %}
                </p>
                {{ comment.body | linebreaks }}
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="col-md-4 card mb-4  mt-3 ">
        <div class="card-body">
            {% if commented %}
            <div class="alert alert-success" role="alert">
                Your comment has been posted
            </div>
            {% else %}
            {% if user.is_authenticated %}
            <h3>Leave a comment:</h3>
            <p>Posting as: {{ user.username }}</p>
            <form method="post" style="margin-top: 1.3em;">
                {{ comment_form | crispy }}
                {% csrf_token %}
                <button type="submit" class="btn btn-signup btn-lg">Submit</button>
            </form>
            {% else %}
               <h4><a class="link-offset-2 link-underline link-underline-opacity-0" href="{% url 'account_signup' %}">Create an Account</a> to join the conversation!</h4>
            {% endif %}
            {% endif %}
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="deleteRecipeModal" tabindex="-1" role="dialog" aria-labelledby="deleteRecipeModalTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteRecipeModalLongTitle">Delete this Recipe?</h5>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this recipe? This action cannot be undone.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                <a href="{% url 'delete_recipe' recipe.id %}">Delete</a>
            </div>    
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="deleteCommentModal" tabindex="-1" role="dialog" aria-labelledby="deleteCommentModalTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteCommentModalLongTitle">Delete this Comment?</h5>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this comment? This action cannot be undone.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
                <a  type="button" class="btn btn-danger" href="#">Delete</a>
            </div>    
        </div>
    </div>
</div>

<script>
    // JavaScript code to set and remember User's rating on recipe_detail.html
    let userRating = 0;

    const rate = (rating, recipe_id) => {
        console.log(`Rating: ${rating}, Recipe ID: ${recipe_id}`);
        userRating = rating;

        const stars = document.querySelectorAll('.rating-list i');

        stars.forEach((star, index) => {
            if (index < userRating) {
                star.classList.add('checked');
            } else {
                star.classList.remove('checked');
            }
        });

        fetch(`/rate/${recipe_id}/${rating}/`, {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json'
            }
        }).then(response => {
            if (response.status === 200) {
                location.reload();
            } else {
                location.reload();
            }
        });
    };
    setRating(userRating);
</script>
{% endblock content %}